In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("../Dataset/silkroad2_csvs/silkroad_items.csv", usecols = ["image_id", "category"])
df.head()

  category  image_id
0  Alcohol       NaN
1  Alcohol     343.0
2  Alcohol     334.0
3  Alcohol     352.0
4  Alcohol     337.0

In [3]:
df.dropna(subset = ["image_id"], inplace = True)
df = df.astype({"image_id": int})
df.head()

  category  image_id
1  Alcohol       343
2  Alcohol       334
3  Alcohol       352
4  Alcohol       337
6    Drugs       293

In [24]:
#create Series for unique index values of dirs and lists for file names 
s = df.groupby('category')['image_id'].apply(list)

import os, glob, shutil
#get all images from folder  
src_files = glob.glob('/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_id/*.jpg')
#create dictionary for lookup values from DataFrame
lookup = {x.split('/')[-1]:x for x in src_files}
print (lookup)

#loop by Series 
for directory, files in s.items():
    #first create folders
    path = os.path.join('/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_tag/', directory)
    if not os.path.exists(path):
        os.makedirs(path)

    for file in files:
        #get path of each image, if not exist return None
        orig = lookup.get(str(file) + ".jpg", None)
        #copy files from DataFrame
        if orig is not None:
            dest = os.path.join(path, str(file) + ".jpg")
            shutil.copy(orig, dest)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [23]:
for (i, (directory, files)) in enumerate(s.items()):
    #first create folders
    path = os.path.join('/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_tag/', directory)
    if not os.path.exists(path):
        os.makedirs(path)

    if i < 1:
        for file in files:
            #get path of each image, if not exist return None
            orig = lookup.get(str(file) + ".jpg", None)
            #copy files from DataFrame
            if orig is not None:
                dest = os.path.join(path, str(file) + ".jpg")
                print(dest)
                # shutil.copy(orig, dest)

/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_tag/2-DPMP/18261.jpg
/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_tag/2-DPMP/18297.jpg
/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_tag/2-DPMP/18261.jpg
/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_tag/2-DPMP/18297.jpg
/home/manu/Documentos/Facultad/Datos/2021B/TPs/Dataset/silkroad2_images/images_by_tag/2-DPMP/18297.jpg

In [5]:
df["category"].value_counts()

Alcohol       71133
Stimulants    24372
Weed          19587
Ecstasy       17947
MDMA          16013
              ...
MET               1
Peyote            1
2C-T-4            1
4-HO-MET          1
2C-D              1
Name: category, Length: 301, dtype: int64