### 5. La palabra más común entre los títulos que no sea una stopword del inglés ni español (⭐⭐)

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd
import nltk

In [2]:
dfContents = pd.read_csv("../Dataset/contents.csv", usecols = ["title"])
dfContents.head()

                             title
0  Wikipedia:Artículos solicitados
1                          Andorra
2                        Argentina
3             Geografía de Andorra
4            Demografía de Andorra

In [3]:
# No me interesan los títulos vacíos
dfContents.dropna(inplace = True)

In [4]:
# Reemplazo los ':', '-', '_' por espacios,
# ya que hay casos donde las palabras se dividen por estos caracteres
dfContents["palabras"] = dfContents["title"].apply(lambda x: x.replace(":", " ")
                                                   .replace("-", " ")
                                                   .replace("_", " ")
                                                   .replace("/", " ")
                                                   .split(" "))
dfContents.head()

                             title                             palabras
0  Wikipedia:Artículos solicitados  [Wikipedia, Artículos, solicitados]
1                          Andorra                            [Andorra]
2                        Argentina                          [Argentina]
3             Geografía de Andorra             [Geografía, de, Andorra]
4            Demografía de Andorra            [Demografía, de, Andorra]

In [5]:
stop_words = nltk.corpus.stopwords.words('spanish') + nltk.corpus.stopwords.words('english')

In [6]:
dfPalabras = dfContents.explode("palabras")
dfPalabras = dfPalabras[~dfPalabras["palabras"].isin(stop_words)]
dfPalabras.head()

                             title     palabras
0  Wikipedia:Artículos solicitados    Wikipedia
0  Wikipedia:Artículos solicitados    Artículos
0  Wikipedia:Artículos solicitados  solicitados
1                          Andorra      Andorra
2                        Argentina    Argentina

In [7]:
dfPalabras.groupby("palabras").count().nlargest(1, "title").reset_index().iloc[0,0]

'Categoría'