### 32. El usuario que más agradece y el que más agradecimientos tiene (⭐)

In [1]:
import numpy as np
import pandas as pd

In [2]:
dfLogs = pd.read_csv("../Dataset/logs.csv",
                     usecols = ["logtype", "action", "contributor_username", "contributor_ip", "title"],
                     dtype = {"logtype": "category", "action": "category"})
dfLogs.head()

/home/manu/Documentos/Facultad/Datos/2021B/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  contributor_username contributor_ip logtype  action                    title
0               Sabbut            NaN  delete  delete         Verificacionismo
1               Sabbut            NaN  delete  delete                 Rapunzel
2               Sabbut            NaN  delete  delete         Macromedia Flash
3               Sanbec            NaN  delete  delete     Archivo:Gnu head.png
4               Sanbec            NaN  delete  delete  Archivo:Gnu-head-sm.jpg

In [12]:
dfLogs["contributor_username"].fillna(dfLogs["contributor_ip"], inplace = True)

In [13]:
dfThanks = dfLogs[dfLogs.logtype == "thanks"]
dfThanks.head()

,contributor_username,contributor_ip,logtype,action,title
5089429,Anonyme Wikipe-tan,NaN,thanks,thank,Usuario:Isha
5089430,Anonyme Wikipe-tan,NaN,thanks,thank,Usuario:Osado
5089443,Fabrice Florin (WMF),NaN,thanks,thank,Usuario:Fabrice Florin
5089554,David Steven,NaN,thanks,thank,Usuario:Sala Zero
5089560,Renly,NaN,thanks,thank,Usuario:StockZXD

#### Usuario que más agradece

In [14]:
dfThanks.groupby("contributor_username").agg({"action": "count"}).reset_index().nlargest(1, "action").iloc[0]["contributor_username"]

'Cacen Gymraeg'

#### Usuario que más agredecimientos tiene

In [15]:
dfThanks.groupby("title").agg({"action": "count"}).reset_index().nlargest(1, "action").iloc[0]["title"][8:]

'Ontzak'